	<div class="main">
		<h1>Crown &amp; Sceptre</h1>
		<ul>
			<li class="leader"><img src="images/leader.jpg"> Chris</a></li>
			<li>Jessica</li>
			<li>Jack</li>
			<li>Marc</li>
			<li>Cathy</li>
		</ul>
	</div>

	<div class="buttons">
		<a class="directions" href="https://www.google.co.uk/maps/dir/60+Great+Portland+St,+London+W1W+7RT,+UK/86+Great+Titchfield+Street,+Fitzrovia,+The+Crown+%26+Sceptre,+Fitzrovia,+London+W1W+6SD/@51.5184621,-0.1434358,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x48761ad583de8cc9:0x3e08a3ce825efc72!2m2!1d-0.1414192!2d51.5177958!1m5!1m1!1s0x48761b2a0927648b:0xe23fa2ffe5179936!2m2!1d-0.1408286!2d51.519324" target="_blank">Directions</a>
		<a class="joinLeave" href="index.html">Join/Leave</a>
		<a class="startRound" href="startRound.html">Start Round</a>
		<a class="startRound disabled" href="round.html">Join Round</a>
	</div>
