<div class="main">
  <h1>History</h1>
  <ul>
    <li class="leader"><img src="img/profile.png" align="middle" valign="middle" />Rounds you've bought</li>
    <li>Crown &amp; Sceptre - Chris, Jack, Marc - 2/6/2016</li>
    <li>Crown &amp; Sceptre - Chris, Jack, Marc - 2/6/2016</li>
    <li>The George - Dwayne, Phil, Steve E, Aleece - 21/5/2016</li>
    <li>The Cock Tavern - George, Giorgio, Shawn - 20/5/2016</li>
  </ul>
  <ul>
    <li class="leader"><img src="img/beer.png" align="middle" valign="middle" />Rounds bought for you</li>
    <li>Crown &amp; Sceptre - Chris - 2/6/2016</li>
    <li>Crown &amp; Sceptre - Marc - 2/6/2016</li>
    <li>The George - Phil - 21/5/2016</li>
    <li>The George - Giorgio - 21/5/2016</li>
  </ul>
</div>